.app {}

.status-color {
    padding: 0 5px 0 5px;
    border-radius: 50px;
}

.error {
    background-color: #F66349;
}

.warning {
    background-color: #FAD200;
}

.unknown {
    background-color: #E0E0E0;
}
