.app {}

/* fix for grid hscroll when rows are tall and push hscroll off bottom of screen. Force it on */

.x-grid-body.x-panel-body {
    overflow-y: auto;
}

/* pills for status indicators */

.status-color {
    padding: 0 5px 0 5px;
    border-radius: 50px;
}

/* use the same colors as Agile Central for Late, At-Risk and Not Started */

.error {
    background-color: #F66349;
}

.warning {
    background-color: #FAD200;
}

.unknown {
    background-color: #E0E0E0;
}

/* visually divide rows into groups */

.group-separator {
    border-left: solid 2px rgb(213, 213, 213);
    border-right: solid 2px rgb(213, 213, 213);
}

/* highlight the group headers */

.x-group-header>.x-column-header-inner {
    background-color: rgb(213, 213, 213);
}

.alternate-row {
    background-color: rgb(244, 244, 244) !important;
}

.first-in-group {
    border-top: 1px solid rgb(186, 185, 186);
    /*border-bottom: 1px solid rgb(186, 185, 186);*/
}

.predecessor {
    border-top: 1px solid rgb(186, 185, 186);
    /*border-bottom: 1px solid rgb(186, 185, 186);*/
}

.successor {
    border-top: 1px solid rgb(186, 185, 186);
    /*border-bottom: 1px solid rgb(186, 185, 186);*/
}

.hidden {
    visibility: hidden;
}
